.containerBattle{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(
        180deg,
        hsl(184deg 18% 15%) 0%,
        hsl(186deg 20% 20%) 14%,
        hsl(190deg 22% 25%) 26%,
        hsl(191deg 25% 30%) 35%,
        hsl(193deg 26% 35%) 42%,
        hsl(196deg 29% 40%) 50%,
        hsl(198deg 31% 45%) 62%,
        hsl(200deg 33% 50%) 79%,
        hsl(203deg 36% 55%) 100%
      );
}