.container{
    padding: 0;
    margin: 0;
    background-image: linear-gradient(
        180deg,
        hsl(174deg 25% 33%) 0%,
        hsl(172deg 34% 34%) 8%,
        hsl(171deg 42% 34%) 14%,
        hsl(169deg 51% 35%) 18%,
        hsl(167deg 60% 35%) 22%,
        hsl(165deg 68% 35%) 26%,
        hsl(163deg 75% 36%) 31%,
        hsl(160deg 77% 38%) 39%,
        hsl(157deg 73% 40%) 54%,
        hsl(152deg 67% 44%) 100%
      );     
}
