.battleMod{
    background-image: url('/src/assets/img/Campo_de_batalla_DPPt_2\ 2.png');
    background-repeat: no-repeat;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-size:cover;
}