@import 'src/components/styles/global.scss';

.Container_Image{
    display: flex;
    width: 100%;
    justify-content: end;
   
}
.container_Title{
    width: clamp(150px ,50% ,680px);
    height: 250px;
}
.container_picture{
    width: clamp(150px ,30% ,580px);
   
}
.imgOne{
    display: block;
   object-fit:contain;
    width: 100%;
    height: 100%;
}

.imgTwo{
    display: block;
    object-fit:contain;
    width: 100%;
    height: 100%;
}
.title_Page{  
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -140px;
}

.principal_title{
   
    color:hsl(48deg 99% 51%);
    font-family: $font-tittle;
    font-weight: 600;
    font-size: clamp(
        1.2rem,
        3.7vw ,
        3.5rem
      );
   margin: 20px 0px 0px 0px;
}

.principal_subtitle{
    font-family: $font-tittle;
    font-weight: 400;
    color: white;
    width:clamp(300px, 60%, 900px);
    text-align: justify;
    margin: 0;
    font-size: clamp(1rem, 3vw, 1.5rem);

}

  
  @media (max-width: 1100px) {
    
    .container_picture{
        align-self: flex-start;
    }
    .title_Page{
        margin-top: -50px;
    }
  }
  
  @media (max-width: 550px) {
   
    .Container_Image{
        height: 200px;
    }
    .title_Page{
        margin-top: 0px;
    }
  

    .imgUno{
        margin-top: 20px;
        width: 300px; 
    }
    
   
  }
