.scroller{
    max-width: 1400px;
    border: solid 2px red;
    
}

.contenedor{
display: flex;
gap: 40px;
padding-block: 1rem;
width: 1450px;
// flex-wrap: wrap;

}
.scroller[data-animated= "true"]{
    overflow: hidden;
   -webkit-mask: linear-gradient(90deg ,trasparent, white);
}


.scroller[data-animated= "true"].contenedor{
    flex-wrap: nowrap;
}


.card{
    
    background-color: #D9D9D9;
    border-radius: 18px;
    height: 300px;
    width: 300px;
}

.imgPersonaje{
    display: block;
    object-fit: cover;
    width: 100%;
    
}

.nameCharacter{
    margin: 10px 0px 0px 0px;
    color: rgb(8, 8, 8);
    font-family: "Poor Story", system-ui;
    font-weight: 100;
    font-size: 2.1rem;
    text-align: center;
}

.power{
    padding: 0px 10px;
    margin: 10px 0px 0px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 35px;
    border-radius: 40px;
    width:100px;
    
}

