.sectionGrid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gridPokemon{
    background-color: bisque;
    border: solid 2px red;
    border-radius: 18px;
    width: 200px;
    display: flex;
    flex-direction: column;

}