@import 'src/components/styles/global.scss';


.containerPopap{
    
    background-image: linear-gradient(
        180deg,
        hsl(0deg 99% 72%) 0%,
        hsl(0deg 98% 75%) 32%,
        hsl(0deg 98% 79%) 45%,
        hsl(0deg 98% 82%) 50%,
        hsl(0deg 97% 86%) 51%,
        hsl(0deg 100% 89%) 53%,
        hsl(0deg 100% 93%) 59%,
        hsl(0deg 100% 96%) 72%,
        hsl(0deg 0% 100%) 100%
        );
     position: relative;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 30px;
    width: clamp(300px , 65%, 600px);
    height: 400px;
    font-family: $font-pokemon;
    border: solid 3px black;

}

.closeButton{
    background-color: transparent;
    border: none;
    color: hsl(146, 64%, 2%);
    position: absolute;
    top: -35px;
    right: 20px;
    font-size: 2rem;
    font-weight: 900;
    cursor: pointer;

}
.pokeballContainer{
    width: 150px;
    height: 150px;
    position: absolute;
    top: -50px;
    left: -50px;

    & img {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.heightExperience{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    gap: 50px;
    & ul {
        & li {
            margin-top: 20px;
            font-size: 1rem;
            text-align: center;
            list-style: none;
        }
    }
}



.abilitiesMoves{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 40px;
    height: 270px;
    padding: 10px;
}

.containerImagesInfo{
    display: flex;
    justify-content: space-around;
}
.abilities{
    margin: 0;
    font-size: medium;

    & li {
        margin-top: 20px;
        font-size: small;
        margin-bottom: 20px;
    }
   
}
.imgContainer{
    width: clamp(100px , 60%, 300px);
    height: 240px;
    padding: 40px;

    & img {
        width: 100%;
        height: 100%;
        display: block;
    }


    & h4 {
        text-align: center;
        font-size: medium;
        margin-top: 0;
    }

}

@media (max-width: 1024px) {
    .heightExperience{
        gap: 30px;
    }
 
  }
  
  @media (max-width: 760px) {
    .containerPopap{
        height: 350px;
    }
    .pokeballContainer{
        width: 100px;
        height: 100px;
    }
    .heightExperience{
        gap: 0px;
        font-size: 0.7rem;
        margin-right: 10px;
        & ul {

            & li {
                margin-top: 10px;
                font-size: 0.6rem;
            }
        }
    }

    .abilities{
        margin-left: 30px;
        font-size: 0.8rem;
    
        & li {
            text-align: start;
            font-size: 0.6rem;
        }
    
  }
  .imgContainer{
    height: 200px;
    transform: translateX(-20px);
    margin-left: -40px;


    & h4 {
        text-align: start;
        font-size: 0.7rem;
        margin-top: -20px;
    }

}
}